:root {
  --secondary-font: 'Montserrat', sans-serif;
  --theme-color: #F93756;
  --slider-color: #fac802;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabs {
  height: 50px;
  min-height: 50px;
  margin-top: 16px;
  font-size: 14px;
  font-family: var(--secondary-font);
  background-color: #F1F1F1;
  padding-left: 7px;
}

.tab {
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
  align-self: stretch;
  justify-content: center;
  position: relative;
}

.tab > .selection {
  position: absolute;
  left: calc(50% - 13px);
  bottom: 0;
  width: 26px;
  height: 13px;
  background-color: #fff;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.search-tab {
  align-self: stretch;
  width: 50px;
  min-width: 50px;
  background-color: var(--theme-color);
  cursor: pointer;
  margin-left: 7px;
}

.search-tab > .icon.search {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding:14px;
}

.radio-App {
  height: 100vh;
}

.search {
  flex: 1;
}

.clickable {
  cursor: pointer;
}

/* flexible */
.flexible {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flexible.vertical {
  flex-direction: column;
  min-height: 0;  /*needs min height, otherwise won't be shrunk*/
}

.flexible.horizontal {
  flex-direction: row;
}

.flexible.vertical > .scrollable {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  scrollbar-width: thin;
}

.bold {
  font-weight: bold;
}

/* hidden */
.hidden {
  display: none;
}

.header > img.logo {
  width: 121px;
  min-width: 121px;
  
  border-right: 3px #FFC335 solid;
  padding-right: 10px;
  margin-right: 18px;
}

.header > .currently-playing {
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  font-family: var(--secondary-font);
}

.radio-App {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 11px;
  box-sizing: border-box;
}

button {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
}

input.search {
  font-size: 18px;
  font-family: var(--secondary-font);
  border: none;
  min-width: 20px;
}

.station {
  padding-top: 13px;
}

.station > .tags {
  font-size: 14px;
  margin-bottom: 13px;
}

.station-header {
  align-items: baseline;
}

.station > h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

img.votes {
  height: 16px;
  align-self: end;
  padding-bottom: 2px; /*todo: would be good to align on baseline*/
  margin-left: 13px;
  margin-right: 5px;
}

img.small-ico {
  height: 14px;
  align-self: end;
  margin-right: 5px;
  margin-bottom: -1px;
}

img.small-ico.like {
  height: 13px;
}

.station-header > span { /* votes */
  flex: 1;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}

.station > .details {
  font-size: 16px;
  white-space: nowrap;
}

.station .country {
  min-width: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.station .codec {
  margin-left: 13px;
}

.station > hr {
  margin: 0;
  border-bottom: 1px solid #a7a7a7;
  border-top: 0;
  margin-top: 13px;
}
/*player screen*/
.player-header > span {
  margin-right: 15px;
}

.player-header {
  margin-top: 30px;
  justify-content: center;
}

h2 {
  font-size: 40px;
}

h2.title {
  text-align: center;
  line-height: 43px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p.tags {
  margin:0;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 14px;
}

button.favorite-toggle {
  width: 180px;
  height: 47px;
  border-radius: 24px;
  border: 1px solid #cacaca;
  font-size: 16px;
  font-family: var(--secondary-font);
  background-color: #fff;
  align-self: center;
  margin-top: 17px;
  margin-bottom: 58px;
  /*todo: heart icon should move after toggle, text on center*/
}

div.play-area {
  align-self: center;
}

.play {
  width: 113px;
  height: 71px;
  border-radius: 36px ;
  background-color: var(--theme-color);
  border: none;
  box-shadow: 6.561px 8px 0px #000;
  margin-top: 0;
  margin-bottom: 40px;
}

.play-footer {
  margin-bottom: 40px;
  font-family: var(--secondary-font);
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
}

.play-footer > *{
  align-self: baseline;
  
}

button.vote {
  width: 75px;
  height: 32px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #cacaca;
  padding-right: 8px;
  padding-left: 5px;
  margin: 0px;
}

.player {
  padding-bottom: 50px;
}

/* slider*/
.slider.bg {
  background-position: left center;
  background-color: #d8d8d8;
  position: relative;
}

.slider.progress {
  background-position: left center;
  background-color: var(--slider-color);
  position: absolute;
}

.slider  .thumb {
  position: absolute;
}


/*slider positioning*/
.slider {
  width: 100%;
  height: 9px;
  min-height: 9px;
}

.slider  .thumb {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: var(--slider-color);
  display: flex;
  justify-content: center;
}

.slider  .thumb > img.volume {
  align-self: center;
}