body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabs {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tab {
  padding-left: 2em;
  padding-right: 2em;
}

.tab.selected {
  font-weight: bold;
}

/* temp */
.radio-App {
  padding-left: 2em;
}